* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Background color of the webpage*/
body {
    background-color: #d9dcd6;
    font-size: 16px;
}

/*Header font and color*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Horiseon display and font-size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Color of seo letters*/
.header h1 .seo {
    color: #d9dcd6;
}

/*Navigation list, float to the right*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

li {
    display: inline-block;
    margin-left: 25px;
}

/*Sets the color and decoration (no underline) of the links*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Initial image properties*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*SEO and Social Media marketing image float left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Online reputation image float right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets the properties of the 3 sections*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Properties of the benefits section to the right*/
.benefits {
    margin-right: 20px;
    padding: 30px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/*Margins for the headings on the right*/
h3 {
    margin-bottom: 0;
    margin-top: 20px;
    text-align: center;
}

/*Format for the icons on the right*/
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Format for the main image and text sections*/
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Max height of images in main section*/
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/*Sets font size and margin for main topic headings*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Footer property*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
